<!DOCTYPE html>
<html>
<body>
    <div class="container top-container">
        <div class="row">
            <div class="col-xs-12 col-md-6 push-md-3">
    
  <h2>
     WELCOME TO GROUPIT
  </h2>
  <p class="margin-bottom-20">Got an account? Log in down here.</p>  

      <form action="/login" method="POST" class="">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          <small id="fileHelp" class="form-text text-muted">We NEVER ask for your password,we already have it in our database. :)</small>
        </div>
        <button type="submit" class="btn btn-success float-left">Log in</button>
        <a href="/signup" class="btn btn-info float-right">Sign up</a>
      </form>
    </div>
  </div>
</div>
</body>

</html>