body {
  font-size: 14px;
  font-family: sans-serif;
}

a {
  color: #00B7FF;
}

.concert-card{
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
}

.top-container{
  padding-top: 50px;
}

.profile-img img{
  max-width: 90%;
  margin-bottom: 40px;
}
.profile-info table{
  margin-top: 30px;
}
.btn:hover{
  cursor: pointer;
}
.btn.btn-danger a,
.btn.btn-danger a:hover{
  color: #fff;
  text-decoration: none;
}
.top-container.back-link{
  padding-top: 13px;
}
.back-link .back{
  margin-bottom: 16px;
}