body {
  font-size: 14px;
  font-family: sans-serif;
  padding-top: 54px;
}

h3{
  color: #0275d8;
}

h2 {
  margin-bottom: 30px;
}

a {
  color: #00B7FF;
}

.concert-card,
.concert-cards{
  margin: 15px 0;
}

.top-container{
  padding-top: 50px;
}

.profile-img img{
  max-width: 90%;
  margin-bottom: 40px;
}
.profile-info table{
  margin-top: 30px;
}
.btn:hover{
  cursor: pointer;
}
.btn.btn-danger a,
.btn.btn-danger a:hover{
  color: #fff;
  text-decoration: none;
}
.form-inline{
  margin-bottom: 30px;
}
.margin-right-20{
  margin-right: 20px;
}
.margin-top-30{
  margin-top: 30px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}

#map{ 
  width: 100%;
  height: 300px;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
}


.card-block .fa{
  color: #00B7FF;
  margin-right: 5px;
}
.btn .fa{
  color: #fff;
}
.concert-img{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: 50% 10%;
}
.signup h2{
  text-align: center;
  background-color: lightblue;
  color: white;
  height: 60px;
  line-height: 60px;
}

.error-message{
  color:red;
}
hr{
  border-color: #5bc0de;
}
.bg-faded{
  background-color: #5bc0de;
  box-shadow: 0px -6px 8px 9px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
}
.navbar-light .navbar-brand, 
.navbar-light .navbar-nav .nav-link{
  color: #fff;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}
.navbar-light .navbar-brand:hover{
  color: #fff;
  opacity:.8;
} 
.navbar-light .navbar-nav .nav-link:hover{
  color: #fff;
  border-bottom: 2px solid #fff;
}
.navbar-brand img{
  width: 40px;
}
.footer{
  background-color: rgb(25, 30, 36);
  margin-top: 50px;
  height: 70px;
  line-height: 70px;
  width: 100%;
  color: #fff;
  text-align: center;
}
.container{
  min-height: calc(100vh - 174px)
}
.concert-cards .card{
  height: 100%;
}
.concert-cards .card-block{
 padding-bottom: 60px;
}
.concert-cards .card .btn-info{
  position: absolute;
  bottom: 20px;
}
.btn{
  min-width: 100px;
  text-align: center;
}

::placeholder {
  font-size: 14px;
  color: #c0c0c0 !important;
}