body {
  font-size: 14px;
  font-family: sans-serif;
}

h2 {
  margin-bottom: 30px;
}

a {
  color: #00B7FF;
}

.concert-card{
  margin: 15px 0;
}

.top-container{
  padding-top: 50px;
}

.profile-img img{
  max-width: 90%;
  margin-bottom: 40px;
}
.profile-info table{
  margin-top: 30px;
}
.btn:hover{
  cursor: pointer;
}
.btn.btn-danger a,
.btn.btn-danger a:hover{
  color: #fff;
  text-decoration: none;
}
.form-inline{
  margin-bottom: 30px;
}
.margin-right-20{
  margin-right: 20px;
}
.margin-top-30{
  margin-top: 30px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}

#map{ 
  width: 100%;
  height: 300px;
}