<!-- Pagina edicion plan (usuario creador) -->
<%if(user._id == plan.author){ %>
<h2>Edita tu plan!</h2>
<form action="/plans/<%= concertId %>/edit" method="POST" id="form-container">
    <label for="description">Descripcion</label>
    <br>
    <textarea id="description" name="description" placeholder="<%= plan.description%>"></textarea>
    <br>
    <br>
    <label for="location">Localizacion</label>
    <br>
    <input id="location" type="text" name="location" placeholder="<%= plan.location %>">
    <br>
    <br>
    <input id="time" type="time" name="time" >
    <% if (typeof message !== "undefined") { %>
        <div class="error-message">
            <%= message %>
        </div>
        <% } %>
            <br>
            <button>Crear Plan</button> <button>Editar Plan</button>
            <br>
</form>
<% }else{ %>
    <h1>NO PUEDES EDITAR UN PLAN CREADO POR OTRO USUARIO</h1>
<%}%>