<div class="container top-container">
    <div class="row">
        <div class="col col-lg-8 push-lg-2">
            <h2>Create a plan!</h2>
               
           
            <form action="/plans/<%= concertId %>/new" method="POST" id="form-container">
            <table class="table">
            <tbody>
                <tr>
                    <td>
                        Location:
                    </td>
                    <td>
                        <input id="pac-input" class="controls form-control" type="text" name="location" placeholder="Location">
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> <div id="map"></div> </td>
                </tr>
                <tr>
                    <td>Description: </td>
                    <td>
                        <textarea id="description" class="form-control" name="description" placeholder="Short plan description"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Time: </td>
                    <td>
                        <input id="time" class="form-control" type="time" name="time" >
                    </td>
                </tr>
            </tbody>
            </table>               
                <% if (typeof message !== "undefined") { %>
                <div class="error-message">
                    <%= message %>
                </div>
                <% } %>
                <hr>
                <a href="/concerts/<%= concertId %>" class="btn btn-primary float-left">Back</a>
                <button is="create" class="btn btn-success float-right">Create Plan</button>
            </form>
        </div>
    </div>
    </div>
    <script>
    const concertData = <%- JSON.stringify(concert) %>
  </script>
  <script src="../../js/google-places.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz1pkGaOuTp9F8AYApYt_QHr3YusicTUA&libraries=places&callback=initMap">
  </script>