<!-- Pagina de creacion de un plan (only author)-->
<h2>Crea un plan!</h2>

<form action="/plans/new" method="POST" id="form-container">
    <label for="description">Descripcion</label>
    <br>
    <textarea id="description" name="description" placeholder="Descripcion breve del plan."></textarea>
    <br>
    <br>
    <label for="location">Localizacion</label>
    <br>
    <input id="location" type="text" name="location" placeholder="Localizacion">
    <br>
    <br>
    <label for="asistentes">Asistentes</label>
    <% if (typeof message !== "undefined") { %>
        <div class="error-message">
            <%= message %>
        </div>
        <% } %>
    <br>
    <button>Crear Plan</button>
    <br>
</form>